<!DOCTYPE html>

<!--Code for Good 2015 NYC
Lorenzo, Derek, Bing, Stephen, Pam, Yuyu
16 Oct 2015-->

<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
  <link rel="stylesheet" href="style.css">
  <!-- <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, target-densityDpi=device-dpi" /> -->
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  <title>Feed The Children app</title>

</head>

<body>

  <!-- user:HOME PAGE -->
  <div data-role="page" id="userHome" data-theme="a">
    <div data-role="header" data-position="fixed">
      <a data-icon='gear'>Settings</a>
      <a data-icon='shop'>Cart</a>
      <h1>HOME</h1>
    </div><!-- end header div -->

    <div data-role="main" class="ui-content">

      <img src='media/map.png' style='width:100%' data-inset='true'>
      <h3>Vendors with food available</h3>
      <a href='#mortonWilliams' data-role='button'>Morton Williams</a>
    </div><!-- main -->
  </div>
  <!-- END user:HOME PAGE -->

  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

  <!-- vendor list:MORTON WILLIAMS OF PAGE -->
  <div data-role="page" id="mortonWilliams" data-theme="a">
    <div data-role="header" data-position="fixed">
      <a href='#userHome' data-icon='back'>Back</a>
      <a data-icon='shop'>Cart</a>
      <h1>Morton Williams</h1>
    </div><!-- end header div -->

    <div data-role="main" class="ui-content">

      <img src='media/mortonwilliams.jpg' style='width:100%' data-inset='true'>
      <div data-role="collapsible-set">
        <div data-role="collapsible">
          <h3>Vegetables</h3>
          <label><input type="checkbox" name="veg-1" value='broccoli' />Broccoli</label>
          <label><input type="checkbox" name="veg-2" value='lettuce' />Lettuce</label>
        </div>

        <div data-role="collapsible">
          <h3>Meat</h3>
          <label><input type="checkbox" name="meat-1" value='beef' />Beef</label>
        </div>
  
      </div><!-- collapsible set -->

      <br><a href='#confirm' data-role='button' data-icon='check'>Add to Cart</a>
    </div><!-- main -->

  </div>
  <!-- END vendor list:MORTON WILLIAMS PAGE -->

  <!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
</body>
</html>
