div { /* default font for non-headers */
	font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
}

h1, h2, h3, h4, h5 { /* default font for header */
	font-family: "Arial Rounded MT Bold","Helvetica Rounded",Arial,sans-serif;
}

a, label, input {
	font-size: 1.5em;
}

/* colour scheme: vendor is orange, user blue, login red/pink */

.mainHead {
	background-color: #5B98C3;
}

.mainBackground {
	/* darker pink B90041 */
}

.vendorHead {
	/* darker orange D37700 */

}

.vendorBackground {
	/* lightest orange FFC06E */
}

.userHead {
	/* darker blue 085287 */
}

.userBackground {
	/* lightest blue 5B98C3 */
}